<div class="mx-lg-5">
  <div [ngClass]="{'card-light': !this.isDarkTheme, 'card-dark': this.isDarkTheme}" class="card-light card raised">
    <div class="card-header">
      <h3>{{player?.name}}</h3>
      <img src="{{player?.profilePicSource}}">
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent border-bottom px-0">
          <div class="row">
            <div class="col">
              {{player?.team}}
              <img alt="Team logo for {{player?.team}}" height="28" width="28" src="{{player?.teamLogoSource}}">
            </div>
            <div class="col end">{{player?.position}}</div>
          </div>
        </li>
        <li class="list-group-item bg-transparent border-bottom px-0">
          <div class="row">
            <div class="col">Weight: {{player?.weight}} lbs</div>
            <div class="col end">Height: {{player?.height}}</div>
          </div>
        </li>
<!--        <li class="list-group-item bg-transparent border-bottom px-0">{{player?.position}}</li>-->
<!--        <li class="list-group-item bg-transparent border-bottom px-0">{{player?.position}} (#{{player?.number}})</li>-->
<!--        <li class="list-group-item bg-transparent border-bottom px-0">Height: {{player?.height}}</li>-->
      </ul>
    </div>
  </div>
  <form class="d-flex">
    <input #search [ngClass]="{'card-light': !this.isDarkTheme, 'card-dark': this.isDarkTheme}"
           class="form-control my-3 raised card-light rounded" type="search"
           placeholder="Search player..." aria-label="Search"
           (keydown.enter)="playerSearch(search.value)">
  </form>
</div>
