<div class="mx-lg-5">
  <div [ngClass]="{'card-light': !this.isDarkTheme, 'card-dark': this.isDarkTheme}" class="card-light card raised">
    <div class="card-header">
      <h3>{{player?.name}}</h3>
      <img src="{{player?.profilePicSource}}">
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent border-bottom px-0">
          <span><img alt="Team logo for {{player?.team}}" height="32" width="32" src="{{player?.teamLogoSource}}"></span>
          {{player?.team}}
        </li>
        <li class="list-group-item bg-transparent border-bottom px-0">{{player?.position}} (#{{player?.number}})</li>
        <li class="list-group-item bg-transparent border-bottom px-0">Weight: {{player?.weight}} lbs</li>
        <li class="list-group-item bg-transparent border-bottom px-0">Height: {{player?.height}}</li>
      </ul>
    </div>
  </div>
  <form class="d-flex">
    <input [ngClass]="{'card-light': !this.isDarkTheme, 'card-dark': this.isDarkTheme}"
           class="form-control my-3 raised card-light rounded" type="search"
           placeholder="Search player..." aria-label="Search">
  </form>
  <button disabled class="btn btn-dark" (click)="getPlayerProfile()">Get Player Profile</button>
</div>
