<!--{{playerStats?.averageRebounds}}-->
<!--{{playerStats?.averageAssists}}-->
<!--{{playerStats?.averageBlocks}}-->
<!--{{playerStats?.averageSteals}}-->
<!--{{playerStats?.plusMinus}}-->

<li class="list-group-item bg-transparent border-bottom px-0">
    <div class="row">
        <div class="col end">
            {{playerStats?.averagePoints}}
        </div>
        <div class="col center">
            Points
        </div>
        <div class="col start">
            {{playerStats?.averagePoints}}
        </div>
    </div>
</li>
