<!--{{playerStats?.averageRebounds}}-->
<!--{{playerStats?.averageAssists}}-->
<!--{{playerStats?.averageBlocks}}-->
<!--{{playerStats?.averageSteals}}-->
<!--{{playerStats?.plusMinus}}-->
<li class="list-group-item bg-transparent px-0">
    <div class="row py-1 mx-lg-5">
        <div class="col stat-loser rounded end">{{player1Stats?.averagePoints}}</div>
        <div class="col-3 center">Average Points</div>
        <div class="col stat-winner rounded start">{{player2Stats?.averagePoints}}</div>
    </div>
  <div class="row py-1 mx-lg-5">
      <div class="col  stat-loser rounded end">{{player1Stats?.averageRebounds}}</div>
      <div class="col-3 center">Average Rebounds</div>
      <div class="col stat-winner rounded start">{{player2Stats?.averageRebounds}}</div>
  </div>
  <div class="row py-1 mx-lg-5">
      <div class="col stat-winner rounded end">{{player1Stats?.averageAssists}}</div>
      <div class="col-3 center">Average Assists</div>
      <div class="col stat-loser rounded start">{{player2Stats?.averageAssists}}</div>
  </div>
  <div class="row py-1 mx-lg-5">
      <div class="col stat-loser rounded end">{{player1Stats?.averageBlocks}}</div>
      <div class="col-3 center">Average Blocks</div>
      <div class="col stat-winner rounded start">{{player2Stats?.averageBlocks}}</div>
  </div>
  <div class="row py-1 mx-lg-5">
      <div class="col stat-loser rounded end">{{player1Stats?.averageSteals}}</div>
      <div class="col-3 center">Average Steals</div>
      <div class="col stat-winner rounded start">{{player2Stats?.averageSteals}}</div>
  </div>
  <div class="row py-1 mx-lg-5">
      <div class="col stat-loser rounded end">{{player1Stats?.plusMinus}}</div>
      <div class="col-3 center">Plus/Minus</div>
      <div class="col stat-winner rounded start">{{player2Stats?.plusMinus}}</div>
  </div>
</li>

