<div class="card-body>">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent px-0">
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col rounded end">{{player1Stats?.gamesPlayed}}</div>
        <div class="col-3 center">GP</div>
        <div class="col rounded start">{{player2Stats?.gamesPlayed}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col rounded end">{{player1Stats?.averageMinutesPlayed}}</div>
        <div class="col-3 center">MIN</div>
        <div class="col rounded start">{{player2Stats?.averageMinutesPlayed}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col  rounded end">{{player1Stats?.averagePoints}}</div>
          <div class="col-3 center">PTS</div>
          <div class="col  rounded start">{{player2Stats?.averagePoints}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col   rounded end">{{player1Stats?.averageRebounds}}</div>
          <div class="col-3 center">REB</div>
          <div class="col  rounded start">{{player2Stats?.averageRebounds}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col  rounded end">{{player1Stats?.averageAssists}}</div>
          <div class="col-3 center">AST</div>
          <div class="col  rounded start">{{player2Stats?.averageAssists}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col  rounded end">{{player1Stats?.averageBlocks}}</div>
          <div class="col-3 center">BLK</div>
          <div class="col  rounded start">{{player2Stats?.averageBlocks}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col  rounded end">{{player1Stats?.averageSteals}}</div>
          <div class="col-3 center">STL</div>
          <div class="col  rounded start">{{player2Stats?.averageSteals}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageFieldGoalsMade}}</div>
        <div class="col-3 center">FGM</div>
        <div class="col  rounded start">{{player2Stats?.averageFieldGoalsMade}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col   rounded end">{{player1Stats?.averageFieldGoalsAttempted}}</div>
        <div class="col-3 center">FGA</div>
        <div class="col  rounded start">{{player2Stats?.averageFieldGoalsAttempted}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageFieldGoalPercentage}}%</div>
        <div class="col-3 center">FG%</div>
        <div class="col  rounded start">{{player2Stats?.averageFieldGoalPercentage}}%</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col   rounded end">{{player1Stats?.average3PointersMade}}</div>
        <div class="col-3 center">3PM</div>
        <div class="col  rounded start">{{player2Stats?.average3PointersMade}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.average3PointersAttempted}}</div>
        <div class="col-3 center">3PA</div>
        <div class="col  rounded start">{{player2Stats?.average3PointersAttempted}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.average3PointPercentage}}%</div>
        <div class="col-3 center">3P%</div>
        <div class="col  rounded start">{{player2Stats?.average3PointPercentage}}%</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageFreeThrowsMade}}</div>
        <div class="col-3 center">FTM</div>
        <div class="col  rounded start">{{player2Stats?.averageFreeThrowsMade}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageFreeThrowsAttempted}}</div>
        <div class="col-3 center">FTA</div>
        <div class="col  rounded start">{{player2Stats?.averageFreeThrowsAttempted}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageFreeThrowPercentage}}%</div>
        <div class="col-3 center">FT%</div>
        <div class="col  rounded start">{{player2Stats?.averageFreeThrowPercentage}}%</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageOffensiveRebounds}}</div>
        <div class="col-3 center">OREB</div>
        <div class="col  rounded start">{{player2Stats?.averageOffensiveRebounds}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageDefensiveRebounds}}</div>
        <div class="col-3 center">DREB</div>
        <div class="col  rounded start">{{player2Stats?.averageDefensiveRebounds}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averageTurnovers}}</div>
        <div class="col-3 center">TOV</div>
        <div class="col  rounded start">{{player2Stats?.averageTurnovers}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
        <div class="col  rounded end">{{player1Stats?.averagePersonalFouls}}</div>
        <div class="col-3 center">PF</div>
        <div class="col  rounded start">{{player2Stats?.averagePersonalFouls}}</div>
      </div>
      <div class="border-bottom mx-3"></div>
      <div class="row py-1 mx-lg-5 align-items-center">
          <div class="col  rounded end">{{player1Stats?.plusMinus}}</div>
          <div class="col-3 center">+/-</div>
          <div class="col  rounded start">{{player2Stats?.plusMinus}}</div>
      </div>
    </li>
  </ul>
</div>
<!--<div class="card-body>">-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li *ngFor="let item of player1Stats | keyvalue" class="list-group-item bg-transparent px-0">-->
<!--      <div class="row py-1 mx-lg-5 align-items-center">-->
<!--        <div class="col stat-loser rounded end">{{item.value}}</div>-->
<!--        <div class="col-3 center">{{item.key}}</div>-->
<!--        <div class="col stat-winner rounded start">{{item.value}}</div>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
