<body class="bg-light raised">
<!--  <top-bar/>
      <players>
          <player-profile/>
          <player-profile/>
       </players>
       <stats>
          <player-stats/>
          <player-stats/>
       </stats>
-->
  <nav-bar></nav-bar>
  <div class="players row">
      <player-profile class="col" playerIdentity="1"></player-profile>
      <player-profile class="col" playerIdentity="2"></player-profile>
  </div>
  <hr/>
  <div class="stats justify-content-center justify-content-around row my-2">
<!--    <player-stats class="col" playerIdentity="1"></player-stats>-->
<!--    <stat-name class="col-1"></stat-name>-->
<!--    <player-stats class="col" playerIdentity="2"></player-stats>-->
    <div class="player-stats stats-right col stat-loser mx-xl-5 raised">
      25.0
    </div>
    <div class="stat-name col-1">
      Points
    </div>
    <div class="player-stats stats-left col stat-winner mx-xl-5 raised">
      28.1
    </div>
  </div>
  <div class="stats justify-content-center justify-content-around row my-2">
    <div class="player-stats stats-right col stat-winner mx-xl-5 raised">
      7.8
    </div>
    <div class="stat-name col-1">
      Assists
    </div>
    <div class="player-stats stats-left col stat-loser mx-xl-5 raised">
      5.9
    </div>
  </div>
</body>
