<body class="bg-light justify-content-center justify-content-around">
    <div class="card-light raised">
      <div class="card-header">
        <h3>Lebron James</h3>
        <img src="assets/LebronJames.png">
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-bottom px-0">Power Forward</li>
          <li class="list-group-item bg-transparent border-bottom px-0">Los Angeles Lakers</li>
        </ul>
      </div>
    </div>
    <div class="card-light raised">
      <div class="card-header">
        <h3>Giannis Antetokounmpo</h3>
        <img src="assets/GiannisAntetokounmpo.png">
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-bottom px-0">Forward</li>
          <li class="list-group-item bg-transparent border-bottom px-0">Milwaukee Bucks</li>
        </ul>
      </div>
    </div>
</body>

<router-outlet></router-outlet>
