<body class="bg-light raised">
  <nav-bar></nav-bar>
  <div class="players row">
      <player-profile class="col" playerIdentity="1"></player-profile>
      <player-profile class="col" playerIdentity="2"></player-profile>
  </div>
  <hr/>
  <div class="stats row my-2 mx-lg-5">
      <div class="card-light raised col">
          <div class="card-header mb-0">
            <h4>Basic Head To Head Stats</h4>
          </div>
          <div class="card-body>">
              <ul class="list-group list-group-flush">
                  <player-stats class="col"></player-stats>
              </ul>
          </div>
      </div>
      <div class="col-1" ></div>
      <div class="card-light raised col">
        <div class="card-header mb-0">
          <h4>Advanced Head To Head Stats</h4>
        </div>
        <div class="card-body>">
          <ul class="list-group list-group-flush">
            <player-stats class="col"></player-stats>
          </ul>
        </div>
      </div>
    </div>
</body>
